body {
    margin: auto;
    font-size: 40pt;
    background-color: white;
    color: black;
    font-family: calibri;
    text-align: center;
    padding: 5%;
    position: relative;
    height: max-content;
    width: auto;
    min-height: 100%;
}

.links {
    text-align: left;
}

.spacearound{
    justify-content: space-around;
}

.icon{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 90%;
  position: absolute;
  margin: 5%;
}

#x{
    height: 150px;
    margin: 5%;
    position: absolute;
    bottom: 0px; 
    left: 20%;
}

#heart{
    height: 150px;
    margin: 5%;
    position: absolute;
    bottom: 0px;
    right: 20%;
}
